@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

img {
  max-width: 100%;
}

body {
  color: #0A3871;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 1rem;
}

/**/
.conteiner {
  background-color: #F3F5FC;
  border: 1px solid transparent;
  height: 100%;
  width: 100%;
}

/**/
.card {
  margin: 25px 16px 40px 16px;
}

/**/
.card-nav {
  margin-bottom: 2.5rem;
}

.card-nav img {
  width: 32px;
  height: 48px;
}

/**/
.card-body {
  text-align: center;
}

/**/
.card-text {
  height: 350px;
  position: relative;
}

.card-text textarea {
  height: 85%;
  background-color: #F3F5FC;
  border: 1px solid transparent;
  color: #0A3871;
  font-size: 32px;
  width: 100%;
  outline: none;
}

.card-text ::-webkit-input-placeholder {
  font-family: 'Inter', sans-serif;
  padding-top: 40px;
  font-weight: 700;
  text-align: left;
  color: #0A3871;
}

.card-text :-ms-input-placeholder {
  font-family: 'Inter', sans-serif;
  padding-top: 40px;
  font-weight: 700;
  text-align: left;
  color: #0A3871;
}

.card-text ::-ms-input-placeholder {
  font-family: 'Inter', sans-serif;
  padding-top: 40px;
  font-weight: 700;
  text-align: left;
  color: #0A3871;
}

.card-text ::placeholder {
  font-family: 'Inter', sans-serif;
  padding-top: 40px;
  font-weight: 700;
  text-align: left;
  color: #0A3871;
}

.card-text span {
  font-size: 12px;
  position: absolute;
  left: 0;
  bottom: 0;
  margin-bottom: 1rem;
}

/**/
.card-buttons {
  height: 160px;
}

.card-buttons .en,
.card-buttons .de,
.co {
  height: 4.2875rem;
  width: 100%;
  border-radius: 1.5rem;
  background-color: #0A3871;
  color: #ffffff;
}

.card-buttons .de {
  background-color: #F3F5FC;
  border: 1px solid #0A3871;
  color: #0A3871;
  margin-top: 20px;
}

/**/
.card-text-encripted {
  border-radius: 2rem;
  background-color: #ffffff;
  margin: 64px .5rem;
  margin-bottom: 2.5rem;
  color: #343A40;
  padding: 32px;
  -webkit-box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
          box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
}

.card-text-encripted h2 {
  font-weight: 700;
  font-size: 24px;
}

.card-text-encripted p {
  color: #495057;
  margin-top: 1rem;
}

.co {
  background-color: #ffffff;
  border: 1px solid #0A3871;
  color: #0A3871;
  margin-top: 20px;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

/**/
@media (min-width: 768px) {
  /**/
  .card {
    margin: 70px 40px 40px 40px;
  }
  /**/
  .card-nav {
    margin-bottom: 1.5rem;
  }
  /**/
  .card-body {
    text-align: center;
  }
  /**/
  .card-text {
    height: 550px;
  }
  /**/
  .card-buttons {
    height: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-bottom: 3.5rem;
  }
  .card-buttons .en,
  .card-buttons .de {
    width: 48%;
  }
  .card-buttons .de {
    margin: 0;
  }
  .card-text-encripted {
    text-align: center;
    height: auto;
  }
}

@media (min-width: 1024px) {
  /**/
  .card {
    margin: 40px;
    margin-left: 80px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50px (1fr)[3];
        grid-template-columns: 50px repeat(3, 1fr);
    -ms-grid-rows: (200px)[4];
        grid-template-rows: repeat(4, 200px);
        grid-template-areas: "nav . . out" ". in in out" ". in in out" ". in in out";
  }
  /**/
  .card-nav {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
    grid-area: nav;
  }
  /**/
  .card-body {
    -ms-grid-row: 2;
    -ms-grid-row-span: 3;
    -ms-grid-column: 2;
    -ms-grid-column-span: 2;
    grid-area: in;
  }
  .output {
    -ms-grid-row: 1;
    -ms-grid-row-span: 4;
    -ms-grid-column: 4;
    grid-area: out;
    width: 100%;
  }
  /**/
  .card-text-aux {
    height: 70%;
    width: 60%;
    margin-left: 3%;
  }
  /**/
  .card-buttons {
    width: 400px;
  }
  .card-buttons .en,
  .card-buttons .de {
    margin-top: 125px;
    width: 200px;
  }
  .card-text-encripted-aux {
    width: 35%;
    margin: 0;
    margin-left: 3%;
  }
  .card-text-encripted {
    min-height: 750px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .card-text-encripted .back {
    background-image: url(../img/Muñeco.svg);
    background-size: cover;
    width: 250px;
    height: 250px;
    margin-bottom: 30px;
  }
  .card-text-encripted h2,
  .card-text-encripted p {
    width: 75%;
  }
  .card-body {
    text-align: left;
  }
  /**/
  .card-text {
    height: 395px;
    width: 350px;
  }
  .card-text ::-webkit-input-placeholder {
    text-align: left;
  }
  .card-text :-ms-input-placeholder {
    text-align: left;
  }
  .card-text ::-ms-input-placeholder {
    text-align: left;
  }
  .card-text ::placeholder {
    text-align: left;
  }
  /**/
  /**/
  .card-text-encripted {
    border-radius: 2rem;
    width: 400px;
    height: 800px;
    background-color: #ffffff;
    margin: 0 .5rem;
    margin-bottom: 2.5rem;
    color: #343A40;
    padding: 32px;
    -webkit-box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
            box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
  }
  .card-text-encripted h2 {
    font-weight: 700;
    font-size: 24px;
  }
  .card-text-encripted p {
    color: #495057;
    margin-top: 1rem;
  }
  .co {
    background-color: #ffffff;
    border: 1px solid #0A3871;
    color: #0A3871;
    margin-top: 20px;
    -ms-flex-item-align: end;
        align-self: flex-end;
  }
  /**/
}

.show {
  display: none;
}
/*# sourceMappingURL=style.css.map */