
    $background-card: #F3F5FC;
    $background-white: #ffffff;
    $Grayish-Blue-titule: #343A40;
    $Grayish-Blue-tex:#495057;
    $backgriung-font: #0A3871;
/// PODRIA HACER UNA FUNCION PARA RESETEAR EL NAVEGADOR Y LA IMAGENE @MIXIN
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
      }
    img{
        max-width: 100%;
    }
    // @media(max-width:375px){
        body{
            color: $backgriung-font;
            font-family: 'Inter', sans-serif;
            font-weight: 400;
            font-size: 1rem;
          }
          /**/
          .conteiner{
            background-color: $background-card;
            border: 1px solid transparent;
            // margin: 0 auto;
            height: 100%;
            width: 100%;
            // padding: 24px 16px 40px 16px;
          }
          /**/
          .card{
            margin: 25px 16px 40px 16px;
          }
          /**/
          .card-nav{
            // height: 10.28%;
            margin-bottom: 2.5rem;
             img{
              width: 32px;
              height: 48px;
            // width: 2rem;
            // height: 3rem;
            }
          }
          /**/
          .card-body{
            text-align: center;
            // height: calc(100%-10.28%);
          }
          /**/
          .card-text{
            height: 350px;
            // display: flex;
            // justify-content: space-between;
            // flex-direction: column;
            position: relative;
            textarea{
              // position: absolute;
              height: 85%;
              background-color: $background-card;
              border: 1px solid transparent;
              color: $backgriung-font;
              // top: 0;
              // left: 0;
              font-size: 32px;
              width: 100%;
              outline: none;
            }
            ::placeholder{
              font-family: 'Inter', sans-serif;
              padding-top: 40px;
              font-weight: 700;
              text-align: left;
              color: $backgriung-font;
            }
          }
          .card-text span{
          font-size: 12px;
          
          position: absolute;
          left: 0;
          bottom: 0;
          margin-bottom: 1rem;
        //   display: none;
          }
        /**/
          .card-buttons{
            height: 160px;
          }
          ///   REVISAR PARA HACER UN MIXIN
          .card-buttons .en,
          .card-buttons .de,
          .co{
            height: 4.2875rem;
            width: 100%;
            border-radius: 1.5rem;
            background-color: $backgriung-font;
            color: $background-white;
          }
        .card-buttons .de{
          background-color: $background-card;
          border: 1px solid $backgriung-font;
          color: $backgriung-font;
          margin-top: 20px;
        }
        /**/
        .card-text-encripted{
            // height: 11.625rem;
            border-radius: 2rem;
            background-color:$background-white;
            margin: 64px .5rem;
            margin-bottom: 2.5rem;
            color: $Grayish-Blue-titule;
            padding: 32px;
            box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
             h2{
              font-weight: 700;
              font-size: 24px;
            }
             p{
              color: $Grayish-Blue-tex;
              margin-top: 1rem;
            }
        }
        .co{
        //   display: none;
          background-color: $background-white;
          border: 1px solid $backgriung-font;
          color: $backgriung-font;
          margin-top: 20px;
          align-self: flex-end;
        }
        /**/
        // .bye_display{
        //   display: none;
        // }


    ////////////////////////////////////////////
    @media(min-width:768px){
      /**/
      .card{
        margin: 70px 40px 40px 40px;
        // height: 100vh;
      }
      /**/
      .card-nav{
        margin-bottom: 1.5rem;
      }
      /**/
      .card-body{
        text-align: center;
      }
      /**/
      .card-text{
        height: 550px;
      }
      /**/
      .card-buttons{
        height: auto;
        display: flex;
        width: 100%;
        justify-content: space-between;
        margin-bottom: 3.5rem;
      }
      .card-buttons .en,
      .card-buttons .de{
          width: 48%;
      }
      .card-buttons .de{
          margin: 0;
      }
      .card-text-encripted{
        text-align: center;
        height: auto;
    }
  }
    ///////////////////////////////////////////@warn
    @media(min-width:1024px){
      /**/
      .card{
        margin: 40px;
        margin-left: 80px;
       // margin-left: 55px;
        display: grid;
        grid-template-columns: 50px repeat(3,1fr);
        grid-template-rows: repeat(4,200px);
        grid-template-areas: 
        "nav . . out"
        ". in in out"
        ". in in out"
        ". in in out";
      }
     /**/

    .card-nav{
      grid-area: nav;
    }
     /**/
    .card-body{
       // display: flex;
       // justify-content: space-evenly;
       // align-items: center;
      grid-area: in;

      }
      .output{
        grid-area: out;
        width: 100%;
      }
     /**/
      .card-text-aux{
        height: 70%;
        width: 60%;
        margin-left: 3%;
      }

   /**/
   .card-buttons{
    width: 400px;

   }
      .card-buttons .en,
      .card-buttons .de{
          margin-top: 125px;
          width: 200px;
        }

      .card-text-encripted-aux{
          width: 35%;
          margin: 0;
          margin-left: 3%;
      }
      .card-text-encripted{
        min-height: 750px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        .back{
              background-image: url(../img/Muñeco.svg);
              background-size: cover;
              width: 250px;
              height: 250px;
              margin-bottom: 30px;
        }
        h2,
        p{
            width: 75%;
        }

    }
/////////////////////////////////////////////
    
    
    
    
    .card-body{
      text-align: left;
      // height: calc(100%-10.28%);
    }
    /**/
    .card-text{
      height: 395px;
      width: 350px;
      ::placeholder{
        
        text-align: left;
        
      }
    }
    
  /**/
    
    
  /**/
  .card-text-encripted{
      // height: 11.625rem;
      border-radius: 2rem;
      width: 400px;
      height: 800px;
      background-color:$background-white;
      margin: 0 .5rem;
      margin-bottom: 2.5rem;
      color: $Grayish-Blue-titule;
      padding: 32px;
      box-shadow: 0px 24px 32px -8px rgba(0, 0, 0, 0.08);
       h2{
        font-weight: 700;
        font-size: 24px;
      }
       p{
        color: $Grayish-Blue-tex;
        margin-top: 1rem;
      }
  }
  .co{
  //   display: none;
    background-color: $background-white;
    border: 1px solid $backgriung-font;
    color: $backgriung-font;
    margin-top: 20px;
    align-self: flex-end;
  }
  /**/
  // .bye_display{
  //   display: none;
  // }


  }



    /////////////////////////////////////////////////
.show{
    display: none;
}